html{
    font-size: 10px;
    font-family: 'open sans',sans-serif;
    background-color:dimgrey;
}
body{
    width: 600px;
    margin:0 auto;
    background-color: darkgrey;
    padding: 0 20px 20px 20px;
    border:5px solid black;
}
h1{
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: dimgrey;
    text-shadow: 3px 3px 1px black;
}
p,a{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
}
img{
    display: block;
    margin: 0 auto;
}